
/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */


@keyframes showRight {
  from {
    opacity: 0; 
    transform: translateX(100%);
  }
  to {
    opacity: 1; ;
  }
}
@keyframes showLeft {
  from {
    opacity: 0; 
    transform: translateX(-100%);
  }
  to {
    opacity: 1; ;
  }
}
@keyframes showTop {
  from {
    opacity: 0; 
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes showBottom {
  from {
    opacity: 0; 
    transform: translateY(-100%)
  }
  to {
    opacity: 1; 
   ;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes rollOverIcons {
  0% {
    scale: 0.9;
  }
  80% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
