.skills_box {
  padding: 0.4rem 0.8rem;
  color: white;
  background-color: olivedrab;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0.4rem #5f5e5e;
  grid-column: span 2;
}
.skills_box > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.4rem;
  list-style: none;
}
.skills_box > ul > li {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.4rem; 
}
.skills_box > ul > li:hover {
  border: 1px solid rgb(7, 97, 19);
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: rollOverIcons 1s ease-in-out;
}
.skills_box > ul > li > img {
  width: 100%;
  /* aspect-ratio: 1/1; */
}
#skill-desc {
  grid-column: span 6;
  color: white;
  border-radius: 0.4rem;
  position: relative;
  min-height: 25vh;
  overflow: hidden;

}
#skill-boxes {
    display: flex;
    padding: 0;
    gap: 0.8rem;
    position: absolute;   
    height: 90%;
    transition: ease-in-out 1s;
}
#skill-boxes > article {
  border: 1px solid greenyellow;
  border-radius: 0.3rem;
  background-color:rgba(46, 139, 86, 0.473);
  padding: 0.4rem;
  min-width: 50vw;

}