* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 100%;
  min-height: 100vh;
  color: black;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1024px;
  min-height: 95vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template: repeat(4);
  gap: 1rem;
}
#intro {
  display: flex;
  gap: 1rem;
  background-color: aquamarine;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow:0px 0px 0.4rem #5f5e5e
}
.skills_box {
  padding: 0.4rem;
  color: white;
  background-color: darkslategrey;
  border-radius: 0.4rem;
  box-shadow:0px 0px 0.4rem #5f5e5e
}
.skills_box > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  list-style: none;
}
.skills_box > ul > li {
  border: 1px solid white;
  padding: 0.4rem;
}
.skills_box > ul > li > img {
  width: 3rem;
}
#intro {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 2;
}
#more {
    width: 100%;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    gap:1rem;
}
.more_box{
    width: 100%;
    padding: 0.4rem;
    color: white;
    background-color:darkcyan;
    border-radius: 0.4rem; 
    box-shadow:0px 0px 0.4rem #5f5e5e
}

footer > div {
  padding: 0.5rem;
}
