* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 100%;
  min-height: 100vh;
  color: black;
  background-color: #0e0e0ee4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 100%;
  margin: 0.6rem 0;
}
main {
  max-width: 1280px;
  min-height: 90vh;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4);
  gap: 1.3rem;
}
#intro {
  display: flex;
  flex-direction: column;
  grid-column: span 4;

  gap: 1rem;
  color: whitesmoke;
  background-color: seagreen;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0.4rem #5f5e5e;
}
#intro >ul {
  width: 80%;
  margin-left: 4rem;
}
#languages {
  min-height: fit-content;
  grid-column: span 1;
  grid-row: span 1;
  background-color: mediumseagreen;
}
#languages > ul > li > img {
  width: 3.2rem;
}
#organization {
  grid-column: span 1;
  background-color: mediumseagreen;
}
#hello {
  grid-column: span 1;
  background-color: darkslategrey;
}
#info {
  grid-column: span 6;
  background-color: darkolivegreen;
  min-height: 1rem;
}
.skills_box {
  min-height: fit-content;
  padding: 0.8rem;
  color: white;
  background-color: olivedrab;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0.4rem #5f5e5e;
  grid-column: span 2;
}
.skills_box > ul {
  padding: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.4rem;
  list-style: none;
}
.skills_box > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
.skills_box > ul > li > img {
  width: 3rem;
}
#more {
  width: 100%;
  height: fit-content;
  grid-column: span 6;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.more_box {
  width: 100%;
  padding: 0.8rem;
  color: white;
  background-color: seagreen;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0.4rem #5f5e5e;
}

footer > div {
  color: whitesmoke;
  padding: 0.5rem;
}