@import "./css/intro.css";
@import "./css/skills.css";
@import "./css/animation.css";

* {
  padding: 0;
  margin: 0;

}
:root {
  --color-background: rgb(23, 42, 58);
  --color-primary: #247b7b;
  --color-secondary: #004346;
  --color-tertiary: #508991;
  --color-accent: #44a1a0;
  --color-text: #ecedec;
  --color-text-dark: #172a3a;
}
body {
  content-visibility: auto;
  contain-intrinsic-size: 100vw 100vh;
  min-width: 100%;
  min-height: 100vh;
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-weight: normal;
  background-color: var(--color-background);
  background: var(--color-background); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    var(--color-tertiary),
    var(--color-accent)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    var(--color-tertiary),
    var(--color-accent)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--color-text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 100%;
  margin: 0.6rem 0;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.4rem 0;
  color: var(--color-background);
}
h4 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem 0;
  color: var(--color-text);
}
main {
  max-width: 1280px;
  max-height: fit-content;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
  align-items: start;
  border-radius: 1rem;
  background-color: var(--color-background);
  transition: all 1s;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}
ul {
  list-style: none;
}

/* Button projects */
button{
    width:100%;
    background: linear-gradient(to left top, var(--color-background) 50%, var(--color-background) 50%);
    border-style: none;
    color:var(--color-text);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:80%;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--color-accent));
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),var(--color-accent));
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:10rem;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--color-accent));
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0),var(--color-accent));
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}